.elementMenu{
    position: absolute;
    background-size: cover;
    cursor: pointer;
    font-size: 20px;
    line-height: 43px;
}

.elementDecoMenu{
    position: absolute;
    background-size: cover;
}

.elementMenu_front{
    color: white;
    text-align: center;
    padding: 5%;
    width: 90%;
    height: 90%;
}

.elementMenu_picto{
    height: 40%;
    width: 40%;
    position: absolute;
    left: 30%;
    top: 20%;
}
.elementMenu_titre{
    position: absolute;
    width: 90%;
    bottom: 8%;
}