.elementFiche {
    margin-top: 400px;
    z-index: 11;
}

.fiche {
    width: 1000px;
    height: 500px;
    font-size: 20px;
    color: black;
    background: white;
    display: flex;
}

.fiche .divTexte {
    flex: 1;
    height: 380px;
    width: 380px;
    padding: 70px 70px 50px 50px;
    text-align: justify;
}

.fiche h2, .fiche h3, .fiche p {
    margin-top: 0;
}

.fiche .paraScroll {
    max-height: 170px;
    overflow-y: auto;
}

.fiche p::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.fiche p::-webkit-scrollbar-track {
    background: #bbb;
}

.fiche p::-webkit-scrollbar-thumb {
    height: 10px;
}

.fiche .divSlider {
    flex: 1;
}

.fiche .divBottom {
    margin: 20px 0;
}

.ficheBt {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0;
    left: 0;
    cursor: pointer;
}

.ficheBtFermer {
    text-align: center;
    color: white;
    font-size: 40px;
}

.ficheBtFermerTexte {
    position: absolute;
    top: 50%;
    left: 50%;
    font-weight: bold;
    transform: translate(-50%, -50%) rotate(45deg);
}