.elementFiche {
    margin-top: 400px;
    z-index: 11;
}

.fiche {
    width: 1000px;
    height: 540px;
    font-size: 15px;
    color: black;
    background: white;
    display: flex;
}

.fiche .divTexte {
    flex: 1;
    height: 380px;
    width: 380px;
    padding: 70px 70px 50px 50px;
    text-align: justify;
}

.fiche h2, .fiche h3, .fiche p {
    margin-top: 0;
}

.fiche .paraScroll {
    max-height: 170px;
    overflow-y: auto;
    padding-right: 25px;
}

.fiche p::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.fiche p::-webkit-scrollbar-track {
    background: #bbb;
}

.fiche p::-webkit-scrollbar-thumb {
    height: 10px;
}

.fiche .divSlider {
    flex: 1;
}

.fiche .divBottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 45%;
    min-height: 122px;
}

.ficheBt {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0;
    left: 0;
    cursor: pointer;
}

.ficheBtFermer {
    text-align: center;
    color: white;
    font-size: 40px;
}

.ficheBtFermerTexte {
    position: absolute;
    top: 50%;
    left: 50%;
    font-weight: bold;
    transform: translate(-50%, -50%) rotate(45deg);
}

.divAdress {
    font-size: 14px;
    width: 50%;
    display: inline-block;
    margin: 5%;
    color: white;
}

.divPartage {
    width: 25%;
    margin-left: 5%;
    display: inline-block;
    cursor: pointer;
    font-size: 10px;
    padding: 5%;
    text-align: center;
    color: white;
    position: absolute;
}

.divPartage img {
    height: 60px;
}

.slidePartage {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    color: white;
}

.slidePartage h3 {
    text-align: center;
    margin-top: 30px;
}

.slidePartage .champTel {
    font-size: 50px;
    padding: 15px;
    margin: 15px 30px;
    height: 70px;
    background: #fff4;
}

.divQR {
    padding: 20px;
    background: white;
    position: absolute;
    bottom: 100px;
    height: 130px;
    width: 130px;
    left: 40px;
}

.divQR img {
    width: 100%;
}

.captionQR, .captionTEL {
    position: absolute;
    bottom: 290px;
    font-size: 11px;
}

.captionQR {
    left: 50px;
}

.captionTEL {
    right: 40px;
}

.paveNum {
    position: absolute;
    width: 150px;
    height: 255px;
    background: white;
    right: 80px;
    bottom: 15px;
}

.paveNum .chiffre {
    position: absolute;
    padding: 15px;
    font-size: 19px;
    background: #ddd;
    margin: 10px;
}

.btnFermerPartage {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 60px;
    width: 60px;
    font-size: 50px;
    cursor: pointer;
}

.btnFermerPartage div {
    position: absolute;
    top: 50%;
    left: 50%;
    font-weight: bold;
    transform: translate(-50%, -50%) rotate(45deg);
}