.pagePerenne #elementPage {
    position: absolute;
    width: 1950px;
    height: 2020px;
    right: 0;
    top: 0;
    font-size: 25px;
    z-index: 10;
    overflow-y: scroll;
}

.pagePerenne::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.pagePerenne::-webkit-scrollbar-track {
    background: transparent;
}

.pagePerenne::-webkit-scrollbar-thumb {
    background: #FFF9;
}

.pagePerenne .divTop {
    position: absolute;
    /* height: 600px; */
    width: 100%;
}

.pagePerenne .topImage {
    width: 100%;
    height: 600px;
}

.pagePerenne .topTitre {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%);
    text-align: center;
    background: white;
    padding: 50px;
}

.pagePerenne .divContain {
    width: 90%;
    padding: 5%;
    background: white;
    display: flex;
    position: absolute;
    top: 600px;
}

.pagePerenne .flex {
    flex: 1;
    padding: 2%;
}

.pagePerenne .flex h2 {
    margin: 25px 0;
}

.pagePerenne .sliderComm {
    display: flex;
}

.pagePerenne .divSlider {
    flex: 1.8;
}

.pagePerenne #caroussel1 {
    top: 0;
    left: 0;
}

.pagePerenne .squareRight {
    flex: 1;
    padding: 50px;
    color: black;
    top: 0;
    right: 0;
    height: fit-content;
}

h2, h3{
    margin: 15px 0;
}

.pagePerenne .squareRight h1, .pagePerenne .squareRight h2, .pagePerenne .squareRight h3 {
    color: white!important;
    margin: 15px 0;
}

.pagePerenne .textRight {
    margin-top: 100px;
}

.pagePerenne .divBottom {
    margin-top: 150px;
    padding: 40px;
}

.pagePerenne .divBottom h1, .pagePerenne .divBottom h2, .pagePerenne .divBottom h3 {
    color: white!important;
    margin: 15px 0;
}

.pagePerenne .divImage {
    margin-top: 100px;
}

.pagePerenne .divImage img {
    width: 700px;
    height: 700px;
}

.pagePerenne .divImage div {
    width: 300px;
    padding: 50px;
    margin: -6px 0;
}

.pagePerenne .divImage div h1, .pagePerenne .divImage div h2, .pagePerenne .divImage div h3 {
    color: white!important;
    margin: 0 0 15px 0;
}