.pagePerenne {
    position: absolute;
    width: 50%;
    height: 100%;
    right: 0;
    top: 0;
    font-size: 25px;
    z-index: 10;
    overflow-y: scroll;
}

.pagePerenne::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.pagePerenne::-webkit-scrollbar-track {
    background: transparent;
}

.pagePerenne::-webkit-scrollbar-thumb {
    background: #FFF9;
}

.divTop {
    position: absolute;
    height: 600px;
}

.topImage {
    width: 100%;
    height: 600px;
}

.topTitre {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%);
    text-align: center;
    background: white;
    padding: 50px;
}

.divContain {
    width: 90%;
    padding: 5%;
    background: white;
    display: flex;
    position: absolute;
    top: 600px;
}

.flex {
    flex: 1;
    padding: 2%;
}

.flex h2 {
    margin: 25px 0;
}

.sliderComm {
    display: flex;
}

.divSlider {
    flex: 1.8;
}

#caroussel1 {
    top: 0;
    left: 0;
}

.squareRight {
    flex: 1;
    padding: 50px;
    color: black;
    top: 0;
    right: 0;
    height: fit-content;
}

.squareRight h1, .squareRight h2, .squareRight h3 {
    color: white!important;
    margin: 15px 0;
}

.textRight {
    margin-top: 100px;
}

.divBottom {
    margin-top: 150px;
    padding: 20px;
}

.divBottom h1, .divBottom h2, .divBottom h3 {
    color: white!important;
    margin: 15px 0;
}

.divImage {
    margin-top: 100px;
}

.divImage img {
    width: 700px;
    height: 700px;
}

.divImage div {
    width: 300px;
    padding: 50px;
    margin: -6px 0;
}

.divImage div h1, .divImage div h2, .divImage div h3 {
    color: white!important;
    margin: 0 0 15px 0;
}