.pagePerenne {
    position: absolute;
    width: 50%;
    height: 95%;
    padding-bottom: 5%;
    right: 0;
    top: 0;
    font-size: 25px;
    z-index: 10;
}

.divTop {
    position: relative;
    max-height: 700px;
}

.topImage {
    width: 100%;
    max-height: 700px;
}

.topTitre {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%);
    text-align: center;
    background: white;
    padding: 50px;
}

.divContain {
    width: 90%;
    padding: 5%;
    background: white;
    display: flex;
}

.flex {
    flex: 1;
    padding: 2%;
}

.flex h2 {
    margin: 25px 0;
}
.sliderComm{
    display: flex;
    position: relative;
}

.divSlider{
    flex: 1.8;
}
#caroussel1 {
    top: 0;
    left: 0;
}

.squareRight {
    flex: 1;
    padding: 50px;
    color: black;
    top: 0;
    right: 0;
    height: fit-content;
}

.textRight{
    margin-top: 100px;
    overflow: -webkit-paged-y;
    height: -webkit-fill-available;
}

.textRight::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  
  .textRight::-webkit-scrollbar-track {
    background: #bbb;
  }
  
  .textRight::-webkit-scrollbar-thumb {
    height: 10px;
  }