#MenuLang{
    position: absolute;
    right: 150px;
}

.BtLang{
    width: 90px;
    height: 50px;
    vertical-align: center;
    background-image: url(../../../datas/imgs/interface/BtLangFondUnselect.png);
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    font-family: 'TTMoons';
    font-size: 28px;
    text-transform: uppercase;
    color: #7b0023;
    margin-left: 20px;
    margin-right: 20px;
    display: table-cell; /* comportement visuel de cellule */
    vertical-align: middle;
    transition:all 0.3s;
}

.BtLangSelect{
    background-image: url(../../../datas/imgs/interface/BtLangFondSelect.png);
    color: white;
}