.poi {
    background-color: white;
    border: 2px solid darkseagreen;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
}

.fiche {
    width: max-content;
    font-size: 20px;
    color: black;
    background: white;
}

.fiche img {
    width: 500px;
}

.fiche .divTexte {
    padding: 30px;
    text-align: justify;
}

.fiche h1 {
    font-size: 25px;
    color: darkgreen;
}

.fiche h2 {
    font-size: 22px;
    font-weight: bold;
    font-style: italic;
}

.fiche p {
    margin-top: 8px;
}

.fiche .divBottom {
    padding: 0 0 30px 40px;
    display: flex;
}

.fiche .divBottom .flexElt {
    flex: 1;
}

.fiche .divBottom .flexElt div span {
    font-size: 15px;
}

.fiche .divIcone {
    border-radius: 50%;
    width: 30px;
    text-align: center;
    padding: 4px;
    margin: 7px;
    display: inline-block;
    vertical-align: middle;
}

.fiche .icone {
    width: 20px;
}

.ficheBt {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0;
    left: 0;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.5));
    cursor: pointer;
}

.ficheBtLang {
    text-align: center;
    border-radius: 50%;
    color: darkgreen;
    background-color: white;
    font-family: 'TTMoons';
}

.ficheBtLangSelect {
    color: white;
    background-color: darkgreen;
}

.ficheBtLangTexte {
    position: absolute;
    /* postulat de départ */
    top: 50%;
    left: 50%;
    /* à 50%/50% du parent référent */
    transform: translate(-50%, -50%)
}

.ficheBtFermer {
    /* background-image: url("../../../datas/imgs/interface/FicheBtFermer.png");
    background-repeat: no-repeat; */
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
    color: darkgreen;
    background-color: white;
    /* font-family: 'TTMoons'; */
}
.ficheBtFermerTexte{
    position: absolute;
    top: 50%;
    left: 50%;
    font-weight: bold;
    transform: translate(-50%, -50%) rotate(45deg);
}

.layerBtn {
    position: fixed;
    right: 30px;
    padding: 10px;
}

#backButton {
    position: fixed;
    bottom: 50px;
    left: 30px;
    padding: 15px;
}