.text_sousmenu p::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.text_sousmenu p::-webkit-scrollbar-track {
  background: #bbb;
}

.text_sousmenu p::-webkit-scrollbar-thumb {
  height: 10px;
}

#sousmenu {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 11;
}

.text_sousmenu {
  position: absolute;
  background: white;
}

.text_sousmenu p {
  font-size: 25px;
  overflow: auto;
}

.btnFermerSousMenu {
  position: absolute;
  left: 0;
  z-index: -1;
  cursor: pointer;
}

.btnFermerSousMenu span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  font-size: 120px;
  font-weight: bold;
  color: white;
}

.btnFermerSousMenu span.noRotation {
  transform: translate(-50%, -50%);
}

.elementSousMenu {
  position: absolute;
  color: white;
  cursor: pointer;
}

.elementSousMenu h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  text-align: center;
}

.ssSousMenu {
  position: absolute;
  color: white;
  opacity: 0.9;
  font-size: 17px;
}

.ssSousMenu h1 {
  margin-bottom: 50px;
}

.ssSousMenu span {
  cursor: pointer;
}

.ssSousMenu span.selected {
  font-weight: bold;
}

.ssSousMenu span.selected:before {
  content: '› ';
}

.ssSousMenu hr {
  height: 0px;
  width: 100%;
  border: 1px solid white;
  margin: 8px 0;
}

.divBtnCarteElement {
  margin-top: 30px;
  position: relative;
}

.btnsFiltre {
  position: absolute;
  width: 42%;
  height: 30px;
  padding: 15px;
  margin: 1%;
  font-weight: bold;
  background: #EEE;
}

.btnsFiltre span {
  margin-right: 60px;
}

.iconCarteElement {
  width: 50px;
  height: 25px;
  position: absolute;
  top: 16px;
  right: 15px;
}

/* ******************************** */

/* ELEMENT LISTE POI */

.sousMenuListePoi {
  position: absolute;
  left: 0;
  background: white;
  z-index: 10;
}

.divListePoi {
  max-height: inherit;
  overflow-y: scroll;
}

.divListePoi::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.divListePoi::-webkit-scrollbar-track {
  background: #bbb;
}

.elementListePoi {
  width: 95%;
  margin-bottom: 5px;
  opacity: 0;
  margin-left: 60px;
}

.elementListePoi .divImgEltLiPoi {
  float: left;
}

.poiLiEltTexte {
  font-size: 23px;
  padding-top: 25px;
  margin-left: 350px;
}

/* ******************************** */

/* SWITCH */

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  border-radius: 34px;
  background: white;
}

.iconCarteElement input {
  opacity: 0;
  width: 0;
  height: 0;
}

.sliderSwitch {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: .4s;
  transition: .4s;
}

.sliderSwitch:before {
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  bottom: 9px;
  left: 3px;
  background-color: #bbb;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked+.sliderSwitch:before {
  -webkit-transform: translateX(21px);
  -ms-transform: translateX(21px);
  transform: translateX(21px);
}