.z-slide-wrap {
    position: relative;
    display: block;
    height: 400px;
    width: 400px;
}
.z-slide-wrap.large{
    width: 750px;
    height: 750px;
}

.z-slide-content {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

.z-slide-item {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.z-slide-item>a {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.z-slide-item img {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

.z-slide-indicator {
    position: absolute;
    left: 0!important;
    z-index: 10;
    padding: 30px;
}

.z-slide-indicator .z-slide-dot {
    display: block;
    float: left;
    width: 0.5rem;
    height: 0.5rem;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid white;
}

.z-slide-indicator .z-slide-dot.active {
    background: white;
}