.jeu {
    width: 2231px;
    height: 1370px;
    left: 40%;
    position: absolute;
    z-index: 20;
}

#indice {
    position: absolute;
    width: 300px;
    height: 300px;
    top: 130px;
    right: 400px;
}

#divReponses {
    position: absolute;
    bottom: 220px;
    left: 266px;
    display: grid;
    grid-template-columns: auto auto auto;
}

#divReponses span {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

.reponse {
    width: 450px;
    height: 450px;
    margin: 60px;
    border-radius: 170px;
    cursor: pointer;
}

.reponseIcone {
    position: absolute;
    bottom: 70px;
}

#titre, #resultat, #titreRep {
    font-size: 80px;
    margin: 100px 0 25px 100px;
}

#titreRep {
    margin: 100px 0 100px 100px;
}

#consigne, #texteRep {
    font-weight: bold;
    font-size: 40px;
    margin: 100px;
}

#texteRep {
    width: 45%;
}

#divEvolution {
    position: absolute;
    bottom: 30px;
    left: 450px;
}

.eltsEvol {
    margin: 20px;
    width: 87px;
    height: 125px;
    display: inline-block;
}

.eltsEvol img {
    height: 50px;
    width: 50px;
    position: absolute;
    top: 60px;
}

#imgRep, #scoreFinal {
    position: absolute;
    width: 600px;
    height: 600px;
    top: 300px;
    right: 330px;
}

#scoreFinal {
    text-align: center;
    font-size: 50px;
    margin-top: 100px;
    color: white;
}

#scoreFinal h1 {
    font-size: 250px;
}

#buttonNext {
    margin: 150px;
    font-size: 25px;
    width: fit-content;
    cursor: pointer;
}