.jeu {
    width: 2231px;
    height: 1370px;
    left: 40%;
    position: absolute;
    z-index: 20;
}

#titre {
    font-size: 80px;
    margin: 100px 0 25px 100px;
}

#consigne {
    width: 50%;
    font-weight: bold;
    font-size: 30px;
    margin: 100px 0 0 100px;
}

/* Main content area */

#content {
    margin: 80px 70px;
    text-align: center;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

#cardSlots, #cardPile {
    position: absolute;
    height: 100%;
}

#cardPile{
    left: 0;
}
#cardSlots{
    right: 0;
}

/* Individual cards and slots */

#cardSlots div, #cardPile div {
    text-align: center;
    position: absolute;
    height: 180px;
    width: 180px;
    border-radius: 75px;
}

#cardPile div h1{
    position: absolute;
    top: 190px;
    color: black;
    font-size: 20px;
    width: 150%;
    margin-left: -25%;
}

#cardSlots div.hovered {
    opacity: 0.6;
}

#cardPile div {
    color: #fff;
    font-size: 1em;
    text-align: center;
}

#divBtnRecommencer{
    margin: 150px;
}

#divBtnRecommencer span{
    font-size: 25px;
}